* {
    margin: 10px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

h2 {
    font-size: large;
    font-weight: bold;
}

hr {
    margin: 5px 0px;
}

button {
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    background-color: lightgrey;
    padding: 0px 5px;
}

button:hover {
    background-color: whitesmoke;
}

input {
    border-width: 1px;
}